body {
    font-family: $sub-fonts;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 16px;
}

.logo {
    max-width: 134px;
    height: 11px;
}

button {
    border: none;
    display: block;
    width: 160px;
    height: 45px;
    left: 739px;
    top: 674px;
    background: #565656;
    cursor: pointer;
}
