.hero {
    background-color: #D9D9D9;
    width: 500px;
    height: 500px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;

}



.hero-1 {
    background-color: #D9D9D9;
    width: 500px;
    height: 500px;
    position: relative;
}

.box-1 {
    position: absolute;
    top:0px;
    left: 50px;
}

.box-2 {
    position: absolute;
    top:0px;
    left: 449px;
}

.box-3 {
    position: absolute;
    bottom:0;
    left: 51px;
}
