* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    padding: 26px 120px 90px;
    background-image: url(../img/bg-picture.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 150px;
    background-attachment: fixed;

}

li {
    list-style-type: none;
}

.header__menu-img {
    position: relative;
    top: 5px;
}

.sidebar__link {
    color: #000000;
    text-decoration-color: #BDBDBD;
    text-decoration-thickness: 1px;
    text-underline-offset: 16px;
}

.header__menu {
    display: flex;
    gap: 50px;
    padding-top: 26px;
}

.header__img {
    margin-top: 16px;
}

.documentation {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    mix-blend-mode: normal;
    transform: matrix(1, 0, 0, 1, 0, 0);
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    text-decoration: none;
}

.header__container {
    display: flex;
    gap: 601px;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 1000;
    top: 0;
    width: 100vw;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 96px;
    position: sticky;
    top: 70px;
    min-width: 390px;

}

.main__container {
    margin-top: 96px;
}



.general {
    display: flex;
    gap: 38px;
}

.title {

    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 40px;
}

.title::before {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background: #000000;
    margin-bottom: 20px;
}

p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 70px;
}



/*=====footer=====*/
.footer__container-head {
    display: flex;
    gap: 20px;
}

.footer__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 30px;
}

.footer__title::before {
    content: '';
    display: block;
    width: 100px;
    height: 8px;
    background: #000000;
    margin-bottom: 20px;
}

.flip-card {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: transform 0.2s;
    
}

.flip-card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: center;
    border-bottom: solid 1px #636363;
    border-top: solid 1px #636363;
    padding: 28px 0;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 180px;
    perspective: 1000px;
}



.footer__container-icons-img {
    width: 22%;
    max-width: 270px;
    transition: 1.0s;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .flip-card-front {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6E6E6;
    border-radius: 8px;
}

.flip-card-back {
    color: white;
    transform: rotateX(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A1A1A;
    border-radius: 8px;
}

.footer__container-icons-img {
    width: 200px;
}

.wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}