* {
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

p, h1 {
    color: #FF8984;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
}

h1 {
    padding: 19px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.tab__item-check {
    width: 19px;
    height: 19px;
    left: 141px;
    top: 114px;
    background: #FFFFFF;
    margin: 12px;
}

.header, footer {
    background: #4A4F56;
}

.footer {
    width: 534px;
    height: 45px;
    background: #4A4F56;
    margin: 0 auto;
    margin-top: 45px;
}

.general {
    background-color: #3B3F45;
    width: 793px;
    height: 507px;
}

.tab__item {
    background-color: #88839E;
    width: 534px;
    height: 45px;
    margin: 0 auto;

}

.tab__item:nth-child(2n) {
    background-color: #7A7593;
}

.tab__item:hover {
    background-color: #625E77;

}

.tab__item:active {
    border-top: 3px;
    border-bottom: 3px;
    background-color: #625E77;
}


.tab__item-check:checked+span {
    text-decoration: line-through;
    color: #9B96AC;

}

.text__bon-apetit {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 107px;
    height: 21px;
    margin: 0 auto;
    padding-top: 12px;
}