@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Red+Hat+Display:wght@400;600;800&display=swap');

$main-fonts: 'Red Hat Display', sans-serif;
$sub-fonts: 'Lato', sans-serif;

.h1 {
    font-family: $main-fonts;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: $color-black;

    @media (max-width: $tablet) {
        font-size: 33px;
        line-height: 50px;
    }

}

.h3 {
    font-family: $main-fonts;
    font-weight: 400;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: $color-black;
}

.h4 {
    font-family: $sub-fonts;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: $color-black;

}

.h6 {
    font-family: $sub-fonts;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: $color-black;
}

.h7 {
    font-family: $sub-fonts;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: $color-white;
}

.h9 {
    font-family: $sub-fonts;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: $color-black;
}