* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

button {
    background: transparent;
    border: 0;
}

p {
    text-align: center; 
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0px 90px 0px;
    width: 100%;
    max-width: 936px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
    list-style-type: none;
}

a {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}

.container__header-vector {
    background: transparent;
    border: 0;
    margin: 0 auto;
    max-width: 936px;
    padding-bottom: 95px;
}

.header-content__text {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #070707;
    width: 100%;
    max-width: 936px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 49px;

}

.header-content-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 10;
    max-width: 936px;
}

.about-me {
    background: #F6F6F6;
    padding-bottom: 107px;
}

.about-me__title {
    padding: 120px 0px 18px 0px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
}

.about-me__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 485.34px;
    height: 218px;
    margin: 0 auto;
}

.skills__cards {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 84px 0px 110px 0px;
    max-width: 936px;
}

.skills__title {
    padding: 91px 0px 69px 0px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
}

.skills__img {
    width: 89.07px;
    height: 88.41px;
    margin: auto;
}

.skills__img-figma {
    width: 58.25px;
    height: 88.99px;
    margin: auto
}

.skills__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;

}

.portfolio {
    margin: 0 auto;
    padding: 0 10;
    max-width: 936px;
    background-color: #F6F6F6;
}


.portfolio__title {

    padding-top: 112px;
    padding-bottom: 96px;

}

.title {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
}

.portfolio__img {
    width: 100%;
    min-width: 500px;
    margin-bottom: 99.09px;

}

.portfolio__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-bottom: 99.09px;
    margin-top: 40px;
}

.contacts__text {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #070707;
}

.contacts__title {
    margin-bottom: 20px;
}

.contacts__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 60px;
}

.contacts__img {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 80px 0px 46px 0px;
    margin: 0 auto;
}

.contacts__textid {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}